.page-section__title2{
    font-size: 30px;
    color: #273f59;
    text-align: center;
    font-weight: bold;
  }
.aliniamiento{
  margin-right: auto;
  margin-left: auto;
}
.lista_Movie{
  margin-right: auto;
  margin-left: auto;
  color: #000000;

  font-size: 20px;

  background-color: #d8bdbd;
}
.letra{
  font-size: 30px;
}
.nombreUsuario {
	font-size: 26px;
	font-weight: bold;
	color: #036;
}

.listadoUsuarios p {
	margin: 20;
}

.accionesUsuario {
	font-size: 22px;	
}

.listadoUsuarios li {
	padding: 15px;
}

.listadoUsuarios li:nth-child(odd) {
	background: #D1F7F4;
}
.cambiar_text{
  color: #000000;

  font-size: 20px;

  background-color: #ffffff;
}
.cambiar_text2{
  color: #000000;

  font-size: 25px;

  background-color: #ffffff;
}
.login{
  font-size: 20px;
  margin-right: auto;
  margin-left: auto;

}
.bottom_save{
    font-size: 15px;
    color: #2b0f4b;

    margin-right: auto;
  margin-left: auto;

}
.error_msg{
  font-size: 15px;
    color: #000000;
    background-color: #d81515;
    text-align: center;


  font-weight: bold;
}
